@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
}

.purple {
    color: #6415ff;
}

/*

NAV

*/

section {
    padding: 0 32px;
}

nav {
    padding-top: 32px;
    display: flex;
}

.nav__container {
    height: 70px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo__wrapper {
    display: flex;
    padding: 12px;
}

.logo__name {
    margin: auto 12px;
    font-weight: 900;
    letter-spacing: .5px;
    font-size: 24px;
}

.nav__links {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    margin: 0 24px;
    font-size: 15px;
    font-weight: 600;
}

a {
    text-decoration: none;
}

/*

HEADER

*/

.row {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 96px 0;
}

.header__left {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__right {
    max-width: 50%;
}

.header__right,
.header__left {
    padding: 0 24px;
}

.header__customers {
    width: 400px;
}

.header__title {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: .5px;
}

input,
button {
    border-radius: 500px;
}

input {
    border: 2px solid rgb(229, 231, 235);
    z-index: 5;
    padding: 20px 10px 20px 65px;
    width: 50%;
}

button {
    z-index: 10;
    margin: 8px;
    width: 40%;
    padding: 20px 50px 20px 50px;
    border: none;
}

.header__customers--title {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    margin-top: 20px;
}



.header__img {
    width: 100%;
    margin-top: 42px;
}

/*

FEATURES

*/

.features__container {
   padding: 96px 0;
}

.features__row {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 42px;
    font-weight: 900;
    letter-spacing: .5px;
    padding: 24px;
}

.features__para {
    margin: 0 350px;
    text-align: center;
}

.features {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-top: 56px;
}




